@import '../../styles/abstract/variables';

.tipoCadastro-page {
    background-image: url(../../assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__logo {
        position: absolute;
        top: 0;
    }

    &__card {
        width: 40rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }

    &__content {
        width: 100%;
        height: 100%;
        background-color: $color-white-light;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__button {
        width: 80%;
        text-decoration: none;
        padding: 1rem;
        background-color: $color-green;
        text-align: center;
        color: $color-white;
        border-radius: 1rem;
        margin-bottom: 1rem;
        transition: 0.25s;

        &:hover {
            background-color: $color-green-dark;
        }
    }

    &__return {
        margin-top: 0.5rem;
    }

    &__btn-return {
        text-decoration: none;
        padding: 0.25rem;
        background-color: $color-green;
        color: $color-white;
        border-radius: 0.5rem;
        margin-left: 0.25rem;
        transition: 0.25s;
        
        &:hover {
            background-color: $color-green-dark;
        }
    }
}

@media(max-width: 675px) {
    .tipoCadastro-page {

        &__card {
            width: 90%;
            height: 18rem;
        }

        &__title {
            font-size: 1.25rem;
            text-align: center;

        }

        &__button {
            width: 90%;
            padding: 0.75rem;
        }

        &__return {
            font-size: 0.75rem;
        }
    }
}