@import '../../styles/abstract/variables';

.produtosTable {

    &__btn {
        border: none;
        background-color: $color-white;
    }

    &__icon {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
        
        &:hover {
            color: $color-green;
        }
    }
}