@import '../../styles/abstract/variables';

.recuperaSenha-page {
    background-image: url(../../assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__logo {
        position: absolute;
        top: 0;
    }

    &__card {
        width: 40rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }

    &__content {
        width: 100%;
        height: 100%;
        background-color: $color-white-light;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    &__title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

    &__input {
        width: 60%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid $color-green;
        font-family: $font-Montserrat;

        &:focus {
            border: 2px solid $color-green-dark;
        }
    }

    &__button {
        width: 60%;
        text-decoration: none;
        padding: 0.75rem;
        background-color: $color-green;
        text-align: center;
        color: $color-white;
        border-radius: 1rem;
        margin-bottom: 1rem;
        transition: 0.25s;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $color-green-dark;
            color: $color-white;
        }
    }

    &__return {
        margin-top: 2rem;
    }

    &__btn-return {
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: $color-green;
        color: $color-white;
        border-radius: 0.5rem;
        margin-left: 0.25rem;
        transition: 0.25s;

        &:hover {
            background-color: $color-green-dark;
            color: $color-white;

        }
    }
}

@media(max-width: 675px) {
    .recuperaSenha-page {

        &__card {
            width: 90%;
            height: 15rem;
        }

        &__title {
            font-size: 1.25rem;
            text-align: center;
            line-height: 1.75rem;

        }

        &__button {
            padding: 0.75rem;
        }

        &__return {
            font-size: 0.75rem;
            margin-top: 0.5rem;
        }

    }
}