@import '../../styles/abstract/variables';

.main {
    overflow-y: hidden;
    overflow-x: hidden;
}

.home {
    &__informations {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 2rem;
    }

    &__row-1 {
        min-width: 100%;
        display: flex;
        justify-content: space-between;

        &-content {
            display: flex;

            &-left {
                padding: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;

                &-title {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }

                &-text {
                    font-size: 1.25rem;
                    margin-bottom: 1.5rem;
                }

                &-btn {
                    font-size: 1.25rem;
                    color: $color-green;
                    font-weight: 700;
                    transition: 0.25s;

                    &:hover {
                        color: $color-green-dark;
                    }
                }

            }

            &-right {
                width: 50%;

                &-image {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__row-2 {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 8rem;

        &-content {
            display: flex;

            &-right {
                padding: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;

                &-title {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }

                &-text {
                    font-size: 1.25rem;
                    margin-bottom: 1.5rem;
                }

                &-btn {
                    font-size: 1.25rem;
                    color: $color-green;
                    font-weight: 700;
                    transition: 0.25s;

                    &:hover {
                        color: $color-green-dark;
                    }
                }

            }

            &-left {
                width: 50%;

                &-image {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__row-3 {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 8rem;

        &-content {
            display: flex;

            &-left {
                padding: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;

                &-title {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }

                &-text {
                    font-size: 1.25rem;
                    margin-bottom: 1.5rem;
                }

                &-btn {
                    font-size: 1.25rem;
                    color: $color-green;
                    font-weight: 700;
                    transition: 0.25s;

                    &:hover {
                        color: $color-green-dark;
                    }
                }

            }

            &-right {
                width: 50%;

                &-image {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__row-4 {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 8rem 0;

        &-content {
            display: flex;

            &-right {
                padding: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;

                &-title {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }

                &-text {
                    font-size: 1.25rem;
                    margin-bottom: 1.5rem;
                }

                &-btn {
                    font-size: 1.25rem;
                    color: $color-green;
                    font-weight: 700;
                    transition: 0.25s;

                    &:hover {
                        color: $color-green-dark;
                    }
                }

            }

            &-left {
                width: 50%;

                &-image {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}