//color viriables
$color-white: hsl(100,100%,100%);
$color-white-light: hsla(100,100%,100%,0.8);
$color-green: hsl(153, 39%, 41%);
$color-green-dark: hsl(153, 40%, 33%);
$color-black: hsl(0, 0%, 0%);
$color-black-light: rgba(0, 0, 0, 0.25);



//fonts variables
$font-Montserrat: 'Montserrat', sans-serif;;